.access-form-container {
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    display: block;
    text-align: center;
}

.form-input {
    width: 50%;
    text-align: center;
}

.error-msg {
    color: red;
}

.btn {
    width: 20%;
    background-color: transparent;
    border: 0.1mm black solid;
}

.spinner {
    margin-left: 42%;
}