.repo-container {
    margin-top: 5%; 
    margin-left: 10%; 
    height: 70%; 
    width: 80%;
}

.changeApiBtn {
    width: 100%;
    height: 10%;
    text-align: right;

    button {
        margin-right: 2%;
        margin-top: 2%;
    }
}